
/* Content styling */
.content {
    padding: 20px;
}

/* sidemenu styling */
.sidemenu {
    width: 250px; /* Adjust the width as needed */
    height: 25vh;
    background-color: #333; /* Background color of the sidemenu */
    color: white;
    position: fixed;
    top: 100px;
    right: -200px; /* Initially hidden off-screen */
    transition: right 0.3s ease; /* Smooth transition */
}

/* sidemenu hover effect */
.sidemenu:hover {
    right: 0; /* Bring the sidemenu into view on hover */
}

/* sidemenu links styling */
.sidemenu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-top: 50px; /* Adjust for spacing */
}

.sidemenu ul li {
    margin: 20px 0;
}

.sidemenu ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.sidemenu ul li a:hover {
    text-decoration: underline;
}
