body, html {
  margin: 0;
  height: 100%;
}

.page-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.background-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.wall { 
  background: url('../assets/textures/Plaster003_1K-JPG_Color.jpg') repeat;
  height: 85%; 
} 
.lining { 
  background: url('../assets/textures/Wood066_1K-JPG_Color.jpg') repeat;
  height: 8%; 
}
.carpet { 
  background: url('../assets/textures/Carpet013_1K-PNG_Color.png') repeat;
  height: 32%;
}

.foreground-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  /* center it */
  z-index: 2;
  text-align: center;
  width: 1920px;
  height: 1080px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.tv-container, .tv-name {
  text-align: center;
  background: rgba(218, 23, 23); /* optional overlay */
  width: 52%;
  height: 55.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  position: relative;
}

.tv-stand {
  background: rgba(56, 9, 9); /* optional overlay */
  width: 57%;
  height: 23%;
}

.tv-name {
  height: 4.6%;
  background: green;
  text-align: center;
}

.sensor-bar {
  background: rgb(0, 0, 0); /* optional overlay */
  width: 10%;
  height: 1%;
  display: flex;
  flex-direction: column;
}

.tv-screen {
  width: 95%;
  height: 90%;
  display: none;
}

.tv-screen.active {
  display: flex; /* only the active one shows */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 10px;
}

#main-menu, #bottom-menu {
  display: flex;
  width: 100%;
  padding: 10px;
  justify-content: center;
}

#main-menu {
  height: 75%;
}

#bottom-menu {
  height: 25%;
  gap: 12px;
}

#page-landing {
  background: linear-gradient(135deg, #3494E6, #EC6EAD);
}

#page-info {
  background: linear-gradient(135deg, #1e3c72, #2a5298);
  flex-direction: row;
}

#page-work {
  background: linear-gradient(135deg, green, #2a5298);
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
}

#page-faq {
  background: linear-gradient(135deg, white, #2a5298);
}

#page-links {
  background: linear-gradient(135deg, pink, #2a5298);
  flex-direction: row;
  gap: 10px;
}

#page-contact {
  background: linear-gradient(135deg, purple, #2a5298);
}

#page-changelog {
  background: linear-gradient(135deg, orange, #2a5298);
}


.main-menu-options {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}

.profile-pic-block {
  width: 40%;
  display: flex;
  justify-content: center;
}

.menu-item {
 border: 7px solid  #2FCDFE;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}

.menu-box {
  width: 45%;
  height: 45%;
}

.work-box {
  width: 46%;
  height: 44%;
  margin: 10px;
}

.links-box {
  width: 200px;
  height: 200px;
}

.menu-item img {
  max-width: 40%;
  max-height: 40%;
  object-fit: contain; /* keeps aspect ratio */
}

.scroll-news {
  width: 82%;
  background: black;
  opacity: 70%;
  font-family: 'Press Start 2P';
}

h2 {
  color: white;
}

.menu-circle {
  width: 85px;
  border-radius: 50%;
}

.menu-circle img {
  max-width: 65%;
}

#option-changelog {
  cursor: help;
}


h3 {
  margin: auto;
  font-family: AudioWide
}

nav {
    position: absolute;
    z-index: 3;
    top: 1%;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
}

nav img {
  max-height: 100%;        /* never taller than nav */
  max-width: 100%;         /* never wider than nav */
  object-fit: contain;     /* keeps aspect ratio */
  cursor: pointer;         /* optional if it's clickable */
}


footer {
    position: absolute;
    z-index: 4;
    bottom: 1%;
    width: 100%;
    text-align: center;
}

.back-button {
  background: red;
  position: absolute;
  max-width: 100px;
  max-height: 70px;
  bottom: 10px;   /* distance from bottom */
  left: 10px;     /* distance from left */
  display: flex;  /* keep img + text aligned */
  align-items: center;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.back-button img {
  max-width: 70%;
  max-height: 100%;
  object-fit: contain; /* keeps aspect ratio */
}

#info-left-column {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-5%); /* shift group upward */
}

#info-right-column {
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: green;
}

#about-profile-circle {
  height: 250px;
  width: 250px;
  background: white;
  border-radius: 50%;
  padding: 10px;
  margin-bottom: 10px;
}

p, h4 {
  margin: 0px;
  align-self: flex-start;
}

#info-text-block {
  height: 75%;
  width: 100%;
  background: white;
  font-size: 35px;
  overflow-y: auto;
  overflow-x: hidden;
}

#infinite-photo-slideshow {
  width: 100%;
  height: 25%;
  justify-self: flex-end;
  background: black;
}


.faq-box {
  width: 97%;
  height: 97%;
  background: red;
  overflow-y: auto;
}

.collapse-box {
  width: 100%;
  background: blue;
  display: flex;
  flex-direction: column;
}

.collapse-title-box {
  width: 100%;
  height: 50%;
  background: white;
  display: flex;
  gap: 320px;
  font-size: 40px;
  align-items: center;
}

.collapse-content {
  width: 100%;
  text-align: left;
  max-height: 0;
  font-size: 20px;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.collapse-title-box img {
  max-width: 2%;
  object-fit: contain; /* keeps aspect ratio */
}

.collapse-box.active .collapse-content {
  max-height: 500px; /* pick a big enough value to fit your content */
  flex: 1;
  transition: max-height 0.5s ease-in;
}

